*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    margin: 0;
}

/* estilos generales */

.image-container{
    display: flex;

}

.image-container img {
    width: 100%;
}
/*v*/
header{
    background:#1f1f1f;
    padding: 10px 50px;
} 

#logo{
    width: 50px;
}
#logo img{
    border-radius: 100%;
    border: 2px solid #ffff;
}
/*estilos del hero */

#hero{
    position: relative;
}
#hero #banner{
    display: inline-block;
    width: 100%;
}

#hero .informacion-conteiner{
    position: absolute;
    top: 52%;
    left: 0;
    transform: translateY(-50%) ;
    display: flex;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 0 50px;
    
}

#hero .informacion-conteiner #foto img{
    width: 200px;
    border-radius: 100%;
    border: 2px solid #ffff;

}
#hero .informacion-conteiner .informacion{
    margin-left: 20px;
    font-weight: bold;
    width: calc(100% - 200px);
}
#hero .informacion-conteiner span{
    display: inline-block;
    color: #b5b5b5;
    margin-bottom: 70px;
}
/* estilos de main*/

main{
    padding: 100px;
}
main .social-icons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}
main .social-icons li{
    margin-left: 8px;
}

main .social-icons .social-icon{
    
    justify-content: center;
    align-items: center ;
    display: flex;
    padding: 15px;
    border-radius: 100%;
    width: 100%;
    height: 100%;   
}

main .social-icons #linkedin{
    background: #0077b0;
}
main .social-icons #github{
    background: #23272b;
}
main .social-icons #twtter{
    background: #1da1f2;
}
main .social-icons #youtube{
    background: #f70000;
}
main .social-icons #platzi{
    background: #121f3d;
}